<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Debug Order Session</title>
</head>
<body>
    <div id="message-container">
        Messages:
    </div>
</body>
<script>
    let sessionCode = "{{ session_code }}";

    let sessionSocket = new WebSocket(
        "ws://" + window.location.host +
        "/ws/session/" + sessionCode + "/"
    );

    window.appendMessage = function(message) {
        let div = document.createElement("div");
        let text = new Date().toISOString() + ": " + message;
        let content = document.createTextNode(text);
        div.appendChild(content);
        document.querySelector("#message-container").appendChild(div);
    };

    sessionSocket.onmessage = function(e) {
        let json = JSON.parse(e.data);
        window.appendMessage(JSON.stringify(json));
    };

    sessionSocket.onclose = function(e) {
        window.appendMessage("WebSocket closed.");
    };
</script>
</html>